.dashboard {
  padding: 0 1em 1em;

  &__nav {
    margin-bottom: 2em;
    border: 1px solid transparent;
    padding: 2em;
    border-radius: 0 0 .2em .2em;
    background-color: #fff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
     a {
       text-decoration: none;
       color: #464646;
       &:hover {
         color: #27ae60;
         transition: color 0.5s ease
       }
     }
  }
}
